.navbar{
    background-color: rgb(255, 161, 26);
}

h1{
    color: rgb(255, 161, 26);
}
h2{
    color: rgb(255, 161, 26);
}
h3{
    color: rgb(255, 161, 26);
}
#navico{
    margin-left: -1cm;
}
#rankie{
    color: rgb(0, 255, 0);
}
#furer{
    color: white;
    margin-top: 1cm;
    background-color: rgb(255, 161, 26);
    max-width: 100% !important;
    min-height: 100%;
    padding: 5px;
}
#log{
    margin-left: 10cm;
}
#pdtitle{
    margin-top: 1cm;
    margin-bottom: 5px;
}
#mconocidos{
    margin-left: 2cm;
    margin-top: 1cm;
}
#frtcards{
    text-align: center;
    background-color: rgb(252, 252, 252);
    margin-top: 2cm;
    margin-bottom: 1cm;
    padding: 17px;
    max-width: 100%;
    min-width: 100%;
}
#item1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1.5cm;
}
#item2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 1.5cm;
}
#item3{
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 1.5cm;
}
.card{
    text-align: center;
}
#cenres{
    margin-top: 1cm;
    color: white;
}
.btn{
    background-color: rgb(255, 161, 26) !important;
}
#weare{
    padding: 3cm;
    text-align: justify;
}
#infoproducto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: 50%;
    max-height: 1%;
    /*padding-bottom: 10cm;*/
}
#imgp{
    margin-right: 15px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#namepro{
    grid-column: 2/3;
    grid-row: 1/2;
}
#descript{
    grid-column: 2/3;
    grid-row: 2/3;
}
#product_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    max-width: 100%;
    max-height: 200%;
}
#buy{
    display: block;
    text-align: right;
}
#buy_bn{
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;

}
#report_bn{
    grid-column: 1/2;
    grid-row: 2/3;
}
#relation_productos{
    text-align: center;
    background-color: rgb(252, 252, 252);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 17px;
    max-width: 100%;
    min-width: 100%;
}
#itemp1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#itemp2{
    grid-column: 3/4;
    grid-row: 1/2;
}
#itemp3{
    grid-column: 4/5;
    grid-row: 1/2;
}
#itemp4{
    grid-column: 6/7;
    grid-row: 1/2;
}
#product_container{
    margin-top: 1cm;
    /*max-width: 100%;*/
}
#terms_texts{
    text-align: justify;
    padding: 3cm;
}
#result{
    margin-left: 2cm;
    margin-top: 1cm;
}
#result_name{
    margin-left: 2cm;
    margin-top: 1cm;    
}
#relations{
    max-width: 100%;
    min-width: 50%;
    grid-column: 1/3;
    grid-row: 3/4;
}
#Desc{
    grid-column: 1/2;
    grid-row: 2/3;
}
#coments{
    grid-column: 1/3;
    grid-row: 2/3;
}
#login_inputs_group{
    margin-top: 5cm;
    margin-bottom: 5cm;
}
#enterto {
    margin-top: 10px;
}
#anotherinfo{
    margin-top: 4px;
    margin-left: 4px;
}
#sellinfo{
    margin-top: 2cm;
    margin-bottom: 2.5cm;
}
#gl{
    margin-bottom: 5px;
}
#mijo{
    color: rgb(255, 161, 26);
}
#info_account{
    margin: 1.6cm 1.6cm 2cm 4cm;
}
#creditCardAdd{
    margin-top: 2cm;
    margin-bottom: 1.5cm; 
}