/*______________System_________________*/
body {
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

hr {
  background-color: #ffa11a;
  margin: 10px;
  size: 5px; }

button:hover {
  cursor: pointer; }

.link {
  margin: 0px;
  padding: 0px;
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

a {
  margin: 0px;
  padding: 0px; }
  a:hover {
    cursor: pointer; }

.options {
  margin-bottom: 3.6cm;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: black 1px solid;
  max-width: 70%; }

@media only screen and (max-width: 780px) {
  .options {
    grid-template-columns: auto auto; } }
@media only screen and (max-width: 550px) {
  .options {
    grid-template-columns: auto; } }
.User {
  padding: 13px;
  margin: 12px;
  background-color: #ffa11a;
  border: 1px black solid;
  color: white;
  border-radius: 15px 15px 15px 15px; }
  .User button {
    border: 1px black solid;
    width: 5cm;
    height: 1cm; }
    .User button:hover {
      background-color: rgba(0, 0, 0, 0.16); }

.imguser #imguser {
  max-width: max-content; }

#option {
  text-align: center;
  display: inline-block;
  margin: 10px 50px; }

/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
/*signlike*/
ul a {
  color: white;
  text-decoration: none; }

#cers {
  color: white; }

.LogIn {
  display: none;
  background-color: #ffa11a;
  color: white;
  width: 40px;
  padding: 10px;
  height: 40px;
  position: absolute;
  top: 5em;
  right: 16em; }

.infoLog {
  background-color: #ffa11a;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

h1 {
  color: #ffa11a;
  margin: 5px 15px; }

input checkbox:hover {
  cursor: pointer; }

header {
  background-color: #ffa11a;
  padding: 0px;
  margin: 0cm; }

#navLogo {
  width: 70px;
  height: 50px; }

.headernav {
  background-color: #ffa11a;
  max-width: 100%;
  margin: 0px; }

header label {
  display: none; }

#buttonnav {
  display: none; }

header label:hover {
  cursor: pointer; }

.bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*max-width: 100%;
  max-height: 100%;*/
  padding: 0px;
  margin: 0px;
  height: max-content; }

.bar li {
  /*max-width: 100%;*/
  flex-grow: 1; }

.bar li a {
  display: block;
  color: white;
  text-decoration: none;
  max-width: 100%;
  max-height: 100%;
  /*padding: 5px 20px;*/ }

.bar li:hover {
  background-color: rgba(0, 0, 0, 0.16);
  cursor: pointer; }

.bar {
  padding: 0px 10px; }

@media (max-width: 768px) {
  header label {
    display: block; }

  #buttonNav {
    width: 70px;
    height: 50px;
    margin: 8px 8px 8px 2px; }

  .bar {
    position: fixed;
    background: #ffa11a;
    width: 45%;
    height: 100%;
    margin-left: -200%;
    text-align: left;
    transition: all 0.7s; }

  .bar ul {
    flex-direction: column;
    text-align: left; }

  .bar li {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    padding-left: 40px;
    padding-right: 40px; }

  #buttonnav:checked ~ .bar {
    margin: 0px; }
  #buttonnav:checked ~ .headernav {
    position: fixed; }

  #navLogo {
    margin: 0px;
    width: 70px;
    height: 49px; }

  #image_RANK {
    margin: 15px; } }
li {
  padding: 15px 10px;
  margin: 0px;
  max-width: 100%;
  max-height: 100%; }

#image_RANK {
  text-align: left;
  margin-left: 5px;
  margin-right: 40px;
  padding: 0px;
  width: 1cm;
  height: 1cm; }
  #image_RANK:hover {
    background-color: #ffa11a; }

/*NavBar divider*/
/*NavBar divider*/
/*NavBar divider*/
/*NavBar divider*/
/*NavBar divider*/
/*NavBar divider*/
.firstCard {
  background-color: gray;
  border-color: black solid; }

button {
  color: white;
  background-color: #ffa11a;
  border-radius: 5px 5px 5px 5px;
  padding: 8px 12px;
  border: none; }
  button:hover {
    cursor: pointer; }

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  max-width: 100%;
  margin: 1cm; }
  .cards h1 {
    width: max-content;
    padding: 0px; }
  .cards p {
    width: max-content;
    padding: 0px; }
  .cards button {
    width: max-content; }
  .cards a {
    width: max-content;
    margin: 0px;
    padding: 0px; }

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: auto auto; } }
@media only screen and (max-width: 620px) {
  .cards {
    grid-template-columns: auto; } }
.card {
  margin: 0.5cm 0.5cm;
  padding: 60px 120px 70px 60px;
  background-color: rbga(0, 0, 0, 3);
  border: black 1px solid;
  border-radius: 15px 15px 15px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 10%;
  height: 160px;
  text-align: center; }

#head_c {
  margin-left: 0.5cm; }

/*SomeProductos*/
/*SOmeProductos*/
/*SOmeProductos*/
/*SOmeProductos*/
/*SOmeProductos*/
/*SOmeProductos*/
.prods {
  padding: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto; }
  .prods .card_S {
    margin: 0.5cm 0.5cm;
    padding: 60px 132px 50px 60px;
    background-color: rbga(0, 0, 0, 3);
    border: black 1px solid;
    border-radius: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 10%;
    height: 160px;
    text-align: center; }

@media only screen and (max-width: 1307px) {
  .prods {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; } }
@media only screen and (max-width: 997px) {
  .prods {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; } }
@media only screen and (max-width: 661px) {
  .prods {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; } }
/*SingleProduct*/
/*SingleProduct*/
/*SingleProduct*/
/*SingleProduct*/
/*SingleProduct*/
/*SingleProduct*/
.product_to {
  margin: 27px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto; }
  .product_to h2 {
    margin: 2px 17px 5px 10px; }
  .product_to hr {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    color: #ffa11a;
    background-color: #ffa11a; }
  .product_to .relation_carts {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: auto auto auto; }
  .product_to #hr {
    margin-top: 50.7px; }
  .product_to .Relations_carts {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 18px;
    padding: 20px 0px 20px 0px;
    border: black 1px solid;
    border-radius: 15px 15px 15px 15px; }
    .product_to .Relations_carts button {
      width: 2.5cm; }
  @media only screen and (max-width: 600px) {
    .product_to .relation_carts {
      grid-template-columns: auto auto;
      grid-template-rows: auto; } }
  @media only screen and (max-width: 440px) {
    .product_to .relation_carts {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto; } }
  @media only screen and (max-width: 521px) {
    .product_to #hr {
      margin-bottom: 0px;
      margin-top: 24px;
      color: #ffa11a;
      background-color: #ffa11a; } }
  @media only screen and (max-width: 359px) {
    .product_to #hr {
      margin-bottom: 0px;
      margin-top: -8px;
      color: #ffa11a;
      background-color: #ffa11a; } }
  @media only screen and (max-width: 359px) {
    .product_to #hr {
      margin-top: 24px;
      margin-bottom: 0px; } }
  .product_to .buy_report {
    grid-column: 2/3;
    grid-row: 1/2; }
    .product_to .buy_report .buttons_s {
      text-align: right; }
    .product_to .buy_report button {
      margin: 1.9px;
      width: 100px; }
  .product_to .comments {
    grid-column: 1/3;
    grid-row: 2/3; }

/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
.down {
  background-color: #ffa11a;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  margin-top: 1cm;
  position: 0; }
  .down a {
    text-decoration: none;
    color: white; }
    .down a:hover {
      color: rgba(0, 0, 0, 0.16); }
  .down img:hover {
    cursor: pointer; }

/*@media only screen and (min-height: 720px){ 
    .down{position: relative; bottom: -7em;}}
@media only screen and (min-height: 1020px){
    .down{position: relative; bottom: -13em;}}
@media only screen and (min-height: 1366px){
    .down{position: relative; bottom: -34.5em;}}*/
.socialR img {
  margin: 5px 10.5px;
  width: 37px;
  height: 37px; }

/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
/*weare*/
.weare {
  padding: 1.7cm;
  text-align: justify;
  margin: 0.5cm 0.5cm 2cm 0.5cm; }
  .weare img {
    width: 5.5cm;
    height: 4.5cm; }

/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
/*Form*/
.f_form {
  margin: 30px 20px 100px 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(6, 1fr); }
  .f_form input {
    margin: 10.5px;
    padding: 10.5px; }
  .f_form #redmessage {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-left: 0px; }
  .f_form #Item1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .f_form #Item2 {
    grid-column: 2/3;
    grid-row: 1/2; }
  .f_form #Item4 {
    grid-column: 1/3;
    grid-row: 2/3; }
  .f_form #confirm_for_comm {
    margin: 0px !important;
    grid-column: 1/2;
    grid-row: 5/6; }
  .f_form #Item6 {
    grid-column: 1/3;
    grid-row: 6/7; }

@media only screen and (max-width: 598px) {
  .f_form {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto); }
    .f_form #Item1 {
      grid-row: 1/2;
      grid-column: 1/2; }
    .f_form #Item2 {
      grid-row: 2/3;
      grid-column: 1/2; }
    .f_form #Item4 {
      grid-row: 3/4;
      grid-column: 1/2; }
    .f_form #Item5 {
      grid-row: 4/6;
      grid-column: 1/2; }
    .f_form #confirm_form_comm {
      grid-row: 6/7;
      grid-column: 1/2;
      margin-top: 21px; }
    .f_form #redmessage {
      grid-row: 6/7;
      grid-column: 1/2;
      margin: 17px 5px 5px 32px; }
    .f_form #Item6 {
      grid-row: 7/8;
      grid-column: 1/2; } }
#Item4 {
  grid-column: 1/3; }

#redmessage:hover {
  cursor: pointer; }

#redmessage {
  color: red; }

#Item5 {
  grid-column: 1/3;
  grid-row: 3/5; }

#Item6 {
  padding: 10px;
  grid-column: 1/3;
  grid-row: 6/7; }

/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
/*SignUp*/
.sign_up {
  margin: 40px  10px 10px 10px;
  text-align: left;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto auto; }
  .sign_up button {
    grid-column: 1/3;
    grid-row: 6/7;
    padding: 5px;
    margin: 10px 0.5px; }
  .sign_up #SItem1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .sign_up #SUtem2 {
    grid-column: 2/3;
    grid-row: 1/2; }
  .sign_up #SItem4 {
    grid-column: 1/3;
    grid-row: 2/3; }
  .sign_up #SItem5 {
    grid-column: 1/3;
    grid-row: 3/4; }
  .sign_up #SItem6 {
    grid-column: 1/3;
    grid-row: 4/5; }

#confirm_form {
  grid-column: 1/2;
  grid-row: 5/6;
  margin: 5px 16px; }
  #confirm_form:hover {
    cursor: pointer; }

#redmesssage {
  grid-column: 1/3;
  grid-row: 5/6;
  color: red;
  margin: 0px 0px 0px 40px; }
  #redmesssage:hover {
    cursor: pointer; }

@media only screen and (max-width: 420px) {
  .sign_up {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-rows: repeat(8, auto); }
    .sign_up #SItem1 {
      grid-row: 1/2;
      grid-column: 1/3; }
    .sign_up #SItem2 {
      grid-row: 2/3;
      grid-column: 1/3; }
    .sign_up #SItem4 {
      grid-row: 3/4;
      grid-column: 1/3; }
    .sign_up #SItem5 {
      grid-row: 4/5;
      grid-column: 1/3; }
    .sign_up #SItem6 {
      grid-row: 5/6;
      grid-column: 1/3; }
    .sign_up #SItem7 {
      grid-row: 8/9;
      grid-column: 1/3; }
    .sign_up #confirm_form {
      grid-row: 7/8;
      grid-column: 1/2;
      margin-top: 19px; }
    .sign_up #redmesssage {
      grid-row: 7/8;
      grid-column: 1/3;
      margin-top: 18px; } }
#divider_sign {
  margin: 10px; }

.sign_input {
  margin: 10px;
  padding: 7px; }

.sign_inputc {
  margin: 0px;
  grid-row: 5/6;
  grid-column: 1/2; }

.Alternativas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }

.Alternativas button {
  margin: 10px;
  padding: 10px; }
  .Alternativas button #google_logo {
    width: 30px;
    height: 30px;
    margin: 0.1px;
    padding: 0px; }
  .Alternativas button #facebook_logo {
    width: 30px;
    height: 30px;
    margin: 0.1px;
    padding: 0px; }

/*politics*/
/*politics*/
/*politics*/
/*politics*/
/*politics*/
/*politics*/
/*politics*/
/*politics*/
.politics h2 {
  color: #ffa11a; }

.politics {
  text-align: justify;
  padding: 3cm; }

/*# sourceMappingURL=style.css.map */
